// Styling for the portfolio section
#demo {
  .container-fluid {
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: fade-out($white, .1);
  }
}
